.background {
    -fx-background-color: #202020;
    -fx-background-image: url("../images/tlo.png");
    -fx-background-size: 100%;
}

.bluebutton {
    -fx-background-color: #ff9900;
    -fx-font-family:  Arial;
    -fx-font-size: 14px;
}

.bluebutton:hover{
    -fx-background-color: #ff6600;
}

.textarea {
    -fx-background-color: #fafbff;
}

.whitelabel {
    -fx-text-fill: #ffffff;
    -fx-font-family:  Arial;
    -fx-font-size: 14px;
}

.table-view *.editable-column { /* FX theme stylesheet */
-fx-border-color: #FFE4B5;
}
