/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-03-16, 18:49:30
    Author     : Admin
*/

.background {
    -fx-background-color: #202020;
    -fx-background-image: url("bluebg.png");
    -fx-background-size: 100%;
}

.bluebutton {
    -fx-background-color: #6486ff;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
}

.bluebutton:hover{
    -fx-background-color: #2757ff;
}

.textarea {
    -fx-background-color: #dde4ff;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
}